#page-create-orphanage aside,
#page-orphanage aside {
  position: fixed;
  height: 100%;
  padding: 32px 24px;
  background: linear-gradient(329.54deg, #15B6D6 0%, #15D6D6 100%);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#page-orphanage aside img {
  width: 48px;
}

#page-orphanage aside a {
  padding: 8px;
}
